* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('background.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

header .title {
    font-size: 3em;
    animation: slide-in 1.5s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre pour rendre le texte lisible */
}

header .subtitle {
    margin: 20px 0;
    font-size: 1.2em;
    animation: fade-in 2s ease-in-out;
}

.btn {
    background-color: #FF0000; /* Changement de couleur verte à rouge */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    animation: bounce-in 2.5s ease-in-out;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    padding: 60px 0;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
}

.skills-grid {
    display: flex;
    justify-content: space-between;
}

.skill-box {
    background: #eee;
    padding: 20px;
    border-radius: 8px;
    width: 48%;
}

.timeline {
    margin-top: 20px;
}

.timeline-item {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-left: 4px solid #FF0000; /* Changement de la bordure verte à rouge */
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

@keyframes slide-in {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce-in {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.photo-identite {
    width: 150px;
    height: 200px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
    border: 3px solid #FFFFFF; /* Tu peux garder ou changer la couleur de la bordure */
    /* Supprimer le border-radius pour retirer l'effet de cercle */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a img.flag-icon {
    width: 30px;
    height: auto;
    vertical-align: middle;
    border: 2px solid transparent;
    border-radius: 5px;
}

nav ul li a img.flag-icon:hover {
    border-color: #FF0000; /* Bordure rouge au survol des icônes de drapeau */
}

.flag-icon {
    width: 30px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
}
